body{
  font-family: 'Microsoft YaHei';
}
ul{
  list-style: none;
}
a:hover{
  text-decoration:none;
}
.content{
  overflow: hidden;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before:0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.container-box{
  padding-top: 40px;
  padding-left: 245px;
  padding-right: 20px;
  overflow: hidden;
}
.text-left{
  text-align: left;
}
/*显示隐藏*/
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

/* 可以设置不同的进入和离开动画 */
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(15px);
  opacity: 0;
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
    background-color: rgb(2555, 255, 255);
    background-image: none;
    color: rgb(0, 0, 0);
}